body {
    position: relative;
    width: 50%;
    margin-left: 25%;
  }
  .nav {
    display: flex;
    justify-content: center;
  }
  a {
    text-decoration: none;
    font-size: larger;
    padding: 2%;
  }
  h1 {
    text-align: center;
    color: cadetblue;
  }
  p {
    text-align: center;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }
  footer{
    margin-top: 30%;
    margin-left: 45%;
  }