<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
   {{>header}} 
   <main>
   <h1>About page</h1><br>
   <img src="https://cdn.pixabay.com/photo/2020/10/21/18/07/laptop-5673901__340.jpg" alt="laptop">
   </main><br>
   {{>footer}}
</body>
</html>