<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/public/style.css">
    
</head>
<body>
     {{>header}}
    <main>
        <h1>Location</h1> <br>
        <p> this app will help you to found your location</p> <br>
        <form action="/city" method="get">
            <input type="text" placeholder="Enter city" name="city" id="input">
                <input type="submit" value="send">
            </form>
    </main><br>
    {{>footer}}  
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/src/server.js"></script><br>
</body>
</html>