.Register{
    width: 50%;
    height: 70vh;
    margin-left: 25%;
    text-align: center;
    background: #6b7b8162;
}

.Register input:first-child{
    width: 20%;
    height: 30px;
    margin-left: 2.5%;
}

.Register input:nth-child(2){
    width: 20%;
    height: 30px;
}


.Register input [type="email"]{
    width: 44%;
    height: 30px;
}

.Register input [type="password"]{
    width: 44%;
    height: 30px;
}

.Register button{
    width: 44%;
    height: 40px;
    font-weight: bold;
    background: #6495ed;
    color: white;
}